<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Story</title>
    <%- include('../partials/header.ejs')%>
</head>
<body>
    <div class="flex-col">
        <h1>Edit Your Story</h1>
        <%-include('../partials/nav')%>
    </div>

    
    <div class="flex-col container dark">
        
        <form action="/session/<%=exp.id%>/edit" method="POST" id="editForm">
            <!-- name -->
            <div class="flex-row">
                <div class="half">
                    <p>Title:</p>
                </div>
                <div class="half">
                    <input type="text" name="title" value="<%=exp.title%>">
                </div>
            </div>
            <!-- Image -->
            <div class="flex-row">
                <div class="half">
                    <p>Image URL:</p>
                </div>
                <div class="half">
                    <input type="text" name="img" value="<%=exp.img%>">
                </div>
            </div>
            <!-- place -->
            <div class="flex-row">
                <div class="half">
                    <p>Places:</p>
                </div>
                <div class="half"> 
                    <input type="text" name="location" value="<%=exp.location%>">
                </div>
            </div>
            <!-- People -->
            <div class="flex-row">
                <div class="half">
                    <p>Friends:</p>
                </div>
                <div class="half">
                    <input type="text" name="people" value="<%=exp.people%>">
                </div>
            </div>
            <!-- Activites -->
            <div class="flex-row">
                <div class="half">
                    Activites:
                </div>
                <div class="half">
                    <input type="text" name="important" value='<%=exp.important%>'>
                </div>
            </div>
            <!-- story-->
            <div class="flex-row">
                <div class="half">
                    Tell a Story:
                </div>
                <div class="half">
                <textarea name="story" form="editForm" placeholder="<%=exp.story%>"></textarea>
                </div>
            </div>
             <!--End  -->
             <div class="row center">
              <input type="submit" value="Save Changes" class="sub-btn">
                <a href="/session/<%=exp.id%>/delete" class="btn">Delete Story</a>   
             </div>
            
        </form>
    </div>
</body>
</html>