<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Community Experience</title>

    <%- include('../partials/header.ejs')%>
</head>

<body class="city">
    
    <div class="flex-row">
        <h1>Welcome to the Experience</h1>
    </div>

    <%- include('../partials/nav.ejs') %>

    <div class="light">
        <div class="decription flex-row">
            <p>Now that you are signed in, feel free to explore the stories and experiences of people in your community!
            </p>
        </div>
        <hr>
        <!-- LOAD DISCOVERY CARD -->
        <div class="flex-row">

            <% for (let x in exp) { %>
            <div class="card flex-col">
                <a href="/session/<%=exp[x].id%>" class="card-link">
                    <!-- title -->
                    <div>
                        <h1><%=exp[x].title%></h1>
                    </div>

                    <% if (exp[x].img) {%>
                        <img src="<%=exp[x].img%>" alt="">
                    <% }%>

                    <!-- Locations -->
                    <div class="flex-row">
                        <h3>Locations:</h3>
                        <ul>
                            <% if(exp[x].location.length >1){ %>
                            <% for (let y in exp[x].location) { %>
                            <li><%=exp[x].location[y] %></li>
                            <% } %>
                            <% } else { %>
                            <li><%=exp[x].location%></li>
                            <% } %>
                        </ul>
                    </div>

                    <!-- People -->
                    <div class="flex-row">
                        <div>
                            <h3>Activites:</h3>
                        </div>
                        <div>
                            <ul>
                                <% for (let y in exp[x].important) { %>
                                <li><%= exp[x].important[y] %></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                </a>
            </div>
            <% } %>
        </div>
    </div>
    <%-include('../partials/footer.ejs')%>
</body>

</html>