<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Community Experience</title>

    <%- include('../partials/header.ejs')%>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <div>
        <div class="row center">
            <h2>Explore Community Stories</h2>
        </div>
        <hr>
        <!-- LOAD DISCOVERY CARDS -->
        <div class="container dark flex-row">

            <% for (let x in exp) { %>
            <div class="card flex-col light">
                <a href="/session/<%=exp[x].id%>" class="card-link">
                    <!-- title -->
                    <div class="flex-row">
                        <h2><%=exp[x].title%></h2>
                    </div>

                    <% if (exp[x].img) {%>
                    <img src="<%=exp[x].img%>" alt="">
                    <% }%>

                    <!-- Locations -->
                    <div class="row center">
                        <ul>
                            <% for (let y in exp[x].location) { %>
                            <p><%=exp[x].location[y] %><p>
                            <% } %>
                            
                        </ul>
                    </div>

                    <!-- Activities -->
                    <div class="row center">
                        <h3>Activites:</h3>
                        <% for (let y in exp[x].important) { %>
                        <p>&nbsp<%= exp[x].important[y] %> &nbsp</p>
                        <% } %>
                    

                    </div>

                </a>
            </div>
            <% } %>
        </div>
    </div>
    <%-include('../partials/footer.ejs')%>
</body>

</html>